<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="FSServer.Service.FSService">
        <host>
          <baseAddresses>
            <add baseAddress = "net.tcp://10.6.6.60:2017/WCFGameServer/Service1/" />
            <!--<add baseAddress="net.tcp://localhost:42042/FSServer/ServiceFS/"/>-->
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="FSServer.Service.IFSService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>